<div class="main">
    <div class="user-container">
      <ul class="breadcrumb">
      </ul>
      <!-- BEGIN SIDEBAR & CONTENT -->
      <div class="row margin-bottom-40">
        <!-- BEGIN CONTENT -->
        <div class="col-md-12 col-sm-12">
          <h1>Post List 
            
          </h1>
          <div class="content-page">
              <input type="hidden" id="cat_id" value="<%= selected_cat_id%>">
            <div class="row">
              <!-- BEGIN LEFT SIDEBAR -->            
              <div class="col-md-9 col-sm-9 blog-posts">
                <div class="row">
                  <div id="div_posts" class="col-md-12">

                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <p id="paginater">
                    </p>
                </div>
                </div>
                  
              </div>
              <!-- END LEFT SIDEBAR -->

              <!-- BEGIN RIGHT SIDEBAR -->            
              <div class="col-md-3 col-sm-3 blog-sidebar">
                <!-- CATEGORIES START -->
                <h2 class="no-top-space">Categories</h2>
                <div class="row">
                  <label class="control-label col-md-4 bold" style="padding-top: 7px; font-size: 16px;">Search : </label>
                  <div class="col-md-8 input-icon">
                    <i class="fa fa-search"></i>
                    <input type="text" class="form-control" id="search" placeholder="Type category">
                  </div>
                </div><hr>
                <div class="scroller" style="height: 1000px;" data-always-visible="0" data-rail-visible1="0" data-handle-color="#D7DCE2">
                    <ul class="nav sidebar-categories margin-bottom-40" id="categories">
                        <% categories.forEach(function(category) {%>
                            <%if(category.id == selected_cat_id) {%>
                                <li class="active"><a href="/post/list?category=<%= category._id%>"><%= category.name%></a></li>
                            <%} else {%>
                                <li><a href="/post/list?category=<%= category._id%>"><%= category.name%></a></li>
                            <%}%>
                        <%})%>
                    
                    </ul>
                </div>
                <!-- CATEGORIES END --> 
              </div>
              <!-- END RIGHT SIDEBAR -->            
            </div>
            
          </div>
        </div>
        <!-- END CONTENT -->
      </div>
      <!-- END SIDEBAR & CONTENT -->
    </div>
  </div>
  <script src="../../js/post/list.js"></script>