<div class="main">
    <div class="admin-container">
        <ul class="breadcrumb">
        </ul>

        <div class="row">
            <div class="col-md-push-1 col-md-10">
                <div class="portlet box blue-hoki">
                    <div class="portlet-title">
                      <div class="caption">
                        <i class="icon-home"></i> <span>Videos</span>
                      </div>
                      <div class="actions">
                        <a href="javascript:;" class="btn btn-default btn-sm" id="btn_add">
                            <i class="fa fa-plus"></i> Add 
                        </a>
                      </div>
                    </div>

                    <div class="portlet-body">
                        <table class="table table-striped table-hover table-bordered" id="video_table">
                            <thead>
                                <tr>
                                    <th width="25%"><i class="fa fa-film"></i> Video</th>
                                    <th widtg="15%"><i class="fa fa-flag"></i> Language</th>
                                    <th width="15%"><i class="fa fa-sort-numeric-desc"></i> Video Type</th>
                                    <th width="15%"><i class="fa fa-sort-numeric-desc"></i> Page Type</th>
                                    <th width="20%"><i class="fa fa-file"></i> Title</th>
                                    <th width="25%"><i class="fa fa-comments"></i> Description</th>
                                    <th><i class="fa fa-magic"></i> Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% trainings.forEach(function(training) {%>
                                    <tr training_id="<%= training._id%>" video_title="<%= training.title%>" description="<%= training.description%>">
                                        <td>
                                            <video style="width: 100%;" controls title="<%= training.description%>" class="video_li">
                                                <source src="<%= training.url%>" type="video/mp4">
                                            </video>
                                        </td>
                                        <td style="padding-top: 60px;">
                                            <label class="bold <% if(training.language == 'EN') {%>text-danger<%} else {%>text-primary<%}%>"><%= training.language %></label>
                                        </td>
                                        
                                        <td style="padding-top: 65px;">
                                            <span class="label <% if(training.type === 'info') {%>label-primary<%}else {%>label-danger<%}%>"><%= training.type%></span>                                            
                                        </td>
                                        <td style="padding-top: 60px;">
                                            <label class="bold"><%= training.page_type%></label>
                                        </td>
                                        <td style="padding-top: 65px;"><%= training.title%></td>
                                        <td style="padding-top: 65px;"><%= training.description%></td>
                                        <td style="padding-top: 65px;">
                                            <button class="btn btn-danger btn_delete" title="delete"><i class="fa fa-trash"></i></button>
                                        </td>
                                    </tr>
                                <%});%>
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="videoModal" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title text-danger"><i class="icon-edit"></i> Video Edit</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form" id="videoForm" enctype="multipart/form-data">
                    
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="language">Language <span class="require">*</span></label>
                        <div class="col-md-3">
                          <select name="country" id="video_lang" class="form-control">
                            <option value="EN">EN</option>
                            <option value="GR">GR</option>
                          </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label">Video type <span class="require">*</span></label>
                        <div class="col-md-3">
                            <select class="form-control" id="video_type">
                                <option value="info">Info</option>
                                <option value="training">Training</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label">Page type <span class="require">*</span></label>
                        <div class="col-md-3">
                            <select class="form-control" id="page_type">
                                <option value="Homepage">Homepage</option>
                                <option value="Userpage">Userpage</option>
                            </select>
                        </div>
                    </div>
                    
                    <div class="form-body">
                        <div class="form-group">
                            <label class="col-md-3 control-label">Video <span class="require">*</span></label>
                            <div class="col-md-9">
                                <div class="col-md-7">
                                    <div class="fileinput fileinput-new" data-provides="fileinput">
                                      <div class="input-group input-small">
                                          <div class="form-control uneditable-input span3" data-trigger="fileinput">
                                              <i class="fa fa-file fileinput-exists"></i>&nbsp; <span class="fileinput-filename">
                                              </span>
                                          </div>
                                          <span class="input-group-addon btn default btn-file btn-sm">
                                          <span class="fileinput-new">
                                          Select file </span>
                                          <span class="fileinput-exists">
                                          Change </span>
                                          <input type="file" name="video_file" id="video_file">
                                          </span>
                                          
                                          <a href="javascript:;" class="input-group-addon btn red btn-sm fileinput-exists" id="btn_remove" data-dismiss="fileinput">
                                          Remove </a>
                                          
                                      </div>
                                    </div>
                                </div>
                                <input type="hidden" id="video">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">Title <span class="require">*</span></label>
                            <div class="col-md-8">
                                <input type="text" id="title" name="title" class="form-control" placeholder="Title">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Description <span class="require">*</span></label>
                            <div class="col-md-8">
                                <textarea class="form-control" id="description" name="description" rows="5" placeholder="Please type description."></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" id="btn_video_save" video_id=''>Save</button>
                        <button type="button" class="btn default" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
<script src="../../js/admin/video.js"></script>